{% extends "base.html" %}

{% block content %}
  <h2 class="mb-4">Calendrier des séances</h2>

  <ul class="nav nav-pills mb-4">
    <li class="nav-item"><a class="nav-link active" href="#">Lun.</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Mar.</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Mer.</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Jeu.</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Ven.</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Sam.</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Dim.</a></li>
  </ul>

  <p class="text-muted">La vue calendrier hebdomadaire sera implémentée ici (inscription/désinscription, participants, coach).</p>
{% endblock %}
